// 1. Your custom variables and variable overwrites.
@import "variables";
$global-font-family: "PT Sans", sans-serif;

$base-body-color: #2f2e2e;

$container-max-width: 1140px;
$global-medium-gutter: 15px;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.

//search
@mixin hook-search-input() {
  padding: 0 10px;
  border: 1px solid #cacaca;
  background-color: transparent;
  color: #21292c;
}

//navbar
$navbar-nav-item-height: auto;
$navbar-nav-item-color: #f0f0f0;
$navbar-nav-item-hover-color: #f0f0f0;
$navbar-nav-item-font-size: 12px;
$navbar-nav-item-padding-horizontal: 12px;

@mixin hook-navbar-nav-item() {
  padding-top: 10px;
  padding-bottom: 10px;
  @media (max-width: $breakpoint-large) {
    font-size: 14px;
  }
}

$navbar-dropdown-margin: 6px;
$navbar-dropdown-padding: 0;
$navbar-dropdown-background: $theme-color;
$navbar-dropdown-nav-item-color: #f0f0f0;
$navbar-dropdown-nav-item-hover-color: #f0f0f0;

@mixin hook-navbar-dropdown() {
  padding-left: 0;
  padding-right: 0;
}

@mixin hook-navbar-dropdown-nav-item() {
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  &:hover {
    background-color: #101010;
  }
}

//offcanvas
$offcanvas-bar-padding-vertical: 50px;
$offcanvas-bar-padding-vertical-m: 50px;
$offcanvas-bar-padding-horizontal: 25px;
$offcanvas-bar-padding-horizontal-m: 25px;
$offcanvas-bar-width: 100%;
$offcanvas-overlay-background:  rgba(0,0,0,0.5);

//breadcrumb
$breadcrumb-divider-margin-horizontal: 10px;
$breadcrumb-item-color: #636161;

//slidenav
$slidenav-hover-color: $theme-color;

$base-em-color: $base-body-color;

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
