@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans/PTSans-Regular.woff"),
    local("PTSans Regular"), local("PTSans-Regular");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans/PTSans-Bold.woff"),
    local("PTSans Bold"), local("PTSans-Bold");
  font-weight: bold;
  font-style: normal;
}
