.search-btn {
  @include reset-btn;
  color: #959595;
  cursor: pointer;
  &.active {
    .search-btn__open {
      display: none;
    }
    .search-btn__close {
      display: block;
    }
  }
}

.search-btn__close {
    display: none;
}
