.social-bar {
  display: flex;
  align-items: center;
  @include reset-list;
  margin: 0 -7px;
  & > li {
    margin: 0 7px;
  }
}

.social-bar__link {
  transition: color 0.25s;
  &_vk {
    color: #3185bd
  }
  &_od {
    color: #ff9900;
  }
  &_fb {
    color: #255b9c;
  }
  &:hover {
    color: $theme-color;
    transition: color 0.25s;
  }
}

.social-bar__icon {
  width: 20px;
  height: 20px;
  @media (max-width: $breakpoint-small) {
    width: 25px;
    height: 25px;
  }
}
